@import url('https://fonts.google.com/specimen/Rubik?query=Rubik#standard-styles');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.light {
  --theme-page-background: hsl(0, 0%, 98%);
  --theme-page-text: hsl(200, 15%, 8%);
  --theme-page-elements: hsl(0, 0%, 100%);
}

.dark {
  --theme-page-background: hsl(207, 26%, 17%);
  --theme-page-text: hsl(0, 0%, 100%);
  --theme-page-elements: hsl(209, 23%, 22%);
}

.App {
  background: var(--theme-page-background);
  color: var(--theme-page-text);
}

body {
  font-family: 'Rubik', sans-serif;
  /* background: hsl(0, 0%, 98%); */
}

.heading{
  height: 10%;
  padding: 1.5%;
  padding-left: 5%;
  padding-right: 5%;
  background: var(--theme-page-elements);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
}

.homepage{
  padding: 3%;
  display: grid;
  justify-content: space-around;
  grid-template-columns: 20% 20% 20% 20%;
  /* grid-template-columns: auto; */
  grid-template-rows: auto;
}

.searchbar{
  grid-column: 1/ span 4;
  min-height: 10%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
}

#search-country-box{
  width: 40%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background: var(--theme-page-elements);
  /* border-radius: 5px; */
  margin-bottom: 30%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-content {
  padding: 5%;
  background: var(--theme-page-elements);
  color: var(--theme-page-text);
  height: 100%;
  width: 100%;
}

.card-content p{
  margin: 3%;
  font-size: small;
}

.country-details{
  padding: 5%;
  display: grid;
  overflow-y: hidden;
}

.country-page{
  display: grid;
  justify-content: space-around;
  grid-template-columns: 50% 50%;
  grid-template-rows: 80%;
}

.detail-box{
  margin-left: 10%;
  display: grid;
  justify-content: space-around;
  grid-template-columns: 50% 50%;
  font-family: 'Rubik', sans-serif;
}

.basic-details{
  display: flex;
  justify-content: space-between;
}

.detail-1, .detail-2{
  width: 50%;
}

.detail-box p{
  margin-bottom: 2%;
  font-size: 100%;
}

.dropdown-item{
  color: var(--theme-page-text);
}

@media screen and (min-width: 200px) and (max-width: 780px) {
  .homepage {
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    flex-direction: column;
  }

  .card {
    margin-bottom: 15%;
    /* margin-top: 5%; */
  }

  .country-page{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .detail-box{
    margin-top: 10%;
    margin-left: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Rubik', sans-serif;
  }

  .basic-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .detail-1, .detail-2{
    width: 80%;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .searchbar{
    grid-column: 1/ span 4;
    min-height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 10%;
  }

  #search-country-box{
    width: 100%;
    margin-bottom: 10%;
  }

  #region-filter{
    width: 60%;
  }
}